* {
        margin: 0;
        padding: 0;
}

body {
        background-color: #e5e4db;
        font-family: sans-serif;
}

body h1 {
        text-align: center;
        margin: 2em 0 1.4em 0;
}

#Logo {
        width: 150px;
        height: 150px;
        background-image: url("../Imagenes/Logo.png");
        margin-top: -35px;
}

.navegacion{
        width: 90%;
        margin: 0 auto;
}

.navegacion ul{
        width: 100%;
        text-align: center;
        list-style: none;
}

.Menu li{
        position: relative;
        display: inline-block;
        margin-top: 20px;
}

.Menu li a{
        border-radius: 40px;
        display: block;
        padding: 15px;
        color: gray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        text-decoration: none;
}

.Menu li a:hover{
        background-color: #e3a959;
	color: white;
        transition: all .3s;
        border-radius: 40px;
}

.cajas-contenidos {
        text-align: center;
        margin: 30px 0 30px 0;
}

.cajas-contenidos h1 {
        margin: 1.8em 0 1.8em 0;
}

.Cajas-N {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px;
        margin: 20px;
        padding: 25px;
}


#Video-caja {
        margin-top: 30px;
        text-align: center;
    }

#Video-caja video {
        width: 250px;
}

.Cajas-P {
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 25px;
}

.NombresP {
        margin: 1em;
        background-color: #e3a959;
        border-radius: 20px;
        padding: 5px;
}

picture img {
        border-radius: 90px;
}

#Contactos {
        color: #e5e4db;
        text-align: center;
        background-color: rgb(63, 61, 61);
}

#Contactos h1 {
        padding: 20px;
}

#Icono1 {
        margin: auto;
        height: 150px;
        width: 150px;
        background-image: url("../Imagenes/IconoMobile.png");
}

#Icono2 {
        margin: auto;
        height: 150px;
        width: 150px;
        background-image: url("../Imagenes/IconoMobile2.png");
}

#Icono3 {
        margin: auto;
        height: 150px;
        width: 150px;
        background-image: url("../Imagenes/IconoMobile3.png");
}

figure {
        display: inline-block;
        margin: 20px;
}

figure img {
        width: 50%;
}



footer{
        text-align: center;
        color: antiquewhite;
        background-color: black;
}




/* Menu burguer */


       
nav ul {
        display: none;
}


#menu-toggle {
          display: none;
}

      
#menu-toggle:checked ~ nav ul {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
}

      
#menu-toggle:checked ~ #Logo {
        padding-top: 90px; 
}

#menu-toggle:checked ~ #Quienes-somos {
        padding-top: 90px; 
}

#menu-toggle:checked ~ #Servicio {
        padding-top: 90px; 
}

#menu-toggle:checked ~ #Productos {
        padding-top: 90px; 
}

#menu-toggle:checked ~ #Formulario {
        padding-top: 90px; 
}

#menu-toggle:checked ~ #Contactos{
        padding-top: 90px; 
}  

      
.hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 20px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 0;
}

      
.hamburger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: transform 0.3s ease;
}

      
.hamburger span:nth-child(1) {
        top: 0;
}

     
.hamburger span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
}

      
.hamburger span:nth-child(3) {
        bottom: 0;
}

#menu-toggle:checked ~ .hamburger span:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
}

#menu-toggle:checked ~ .hamburger span:nth-child(2) {
        opacity: 0;
}

#menu-toggle:checked ~ .hamburger span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 50%;
}

/* Formulario */

.form-registrar {
        width: 70%;
        padding: 30px;
        margin: 0 auto 50px auto;
        margin-top: 50px;
        border-radius: 30px;
        color: white;
        box-shadow: 7px 13px 37px #000;
}

.form-registrar h3 {
        text-align: center;
        font-size: 22px;
        padding-bottom: 10px;
}

.formulario {
        width: 97%;
        background: white;
        padding: 10px;
        border-radius: 10px;
        margin: 0px 20px 20px 0;
        border: 1px solid #0c0c0c;
        font-family: 'calibri';
        font-size: 18px;
        color: #e3a959;
}

.inputs {
        padding-left: 60px;
        font-size: 22px;
}

.inputs-public {
        font-size: 22px;
        display: inline-block;
        padding-right: 10px;
        padding-left: 20px;
}


.boton {
        width: 50%;
        text-align: center;
        background: #e3a959;
        border: none;
        padding: 12px;
        color: white;
        margin: 0 auto;
        font-size: 16px;
        border-radius: 30px;
}

.boton a {
        color: white;
        text-decoration: none;
}

#Archivo h3 {
        margin-top: 30px;
}

#Archivo input{
        font-size: 16px;
        width: 98%;
}

/* Slider */

.slider {
        position: relative;
        width: 100%;
        height: 500px;
        min-height: 300px;
        overflow: hidden;
        filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.slides {
        display: flex;
        width: 300%;
        height: 100%;
        transition: transform 0.5s ease;
}

.slide {
        width: 100%;
        height: 100%;
}

.slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.slider input[type="radio"] {
        display: none;
}

.controls {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
}

.slider label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin-right: 10px;
        cursor: pointer;
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
}

.slider input[type="radio"]:checked + .controls label {
        background-color: #333;
}

#slide1:checked ~ .slides {
        transform: translateX(0);
}

#slide2:checked ~ .slides {
        transform: translateX(-33.333%);
}

#slide3:checked ~ .slides {
        transform: translateX(-66.666%);
}



@media screen and (min-width: 768px) {

body {
        font-size: 1.2;
}

.Nutri-box {
        display: flex;
        justify-content: center;
}

.Cajas-N {
        display: flex;
        flex-wrap: none;
        width: 50%;
        /* font-size:  1.5em; */
}

.Cajas-P {
        display: flex;
        width: 20%;
}


picture img {
        width: 200px;
}

#Video-caja {
        margin-top: 30px;
        text-align: center;
    }

    #Video-caja video {
        width: 700px;
    }

}

@media screen and (min-width: 1024px) {
body {
        font-size: 1.4em;
}

.form-registrar {
        width: 40%;
}

picture img {
        width: 90%;

}

.Cajas-P {
        flex-wrap: wrap;
}

#Logo {
        position: absolute;
}

.Menu {
        display: block;
}

.hamburger {
        display: none;  
}

.navegacion{
        margin: 15px 0 15px 120px;
}

}